@model Solution.Web.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from fvdthemes.com/html/yeahkids/reset_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Feb 2020 17:57:31 GMT -->
@using (Html.BeginForm("ResetPassword", "Login", htmlAttributes: new { id = "resetform" }, method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <body>



       

        <section id="authorization_page" class="authorization_page">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 dot">
                        <h2 class="section-title">Reset Password</h2>

                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br />                <br />
                <br />
                <br />


                <div class="row">
                    <div class="col-md-12">
                        <DIV ALIGN="CENTER">

                            <div class="text-success">
                                <h1>@ViewBag.Message</h1>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="reg_box">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password", style = "width: 350px" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password*", style = "width: 350px" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(a => a.ResetCode)
                            </div>
                            <button class="button" type="submit">Submit</button>

                        </DIV>
                    </div>
                </div>
</section>

        <!--End JS -->


    </body>
}
<!-- Mirrored from fvdthemes.com/html/yeahkids/reset_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Feb 2020 17:57:31 GMT -->
</html>



