@model IEnumerable<Solution.Web.Models.CarPoolModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCarpool.cshtml";
}
    <section id="authorization_page" class="authorization_page">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Kids.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Parent.nom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.From)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.To)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Time)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Message)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>

                                    @Html.DisplayFor(modelItem => item.idKid)
                                    <!--Html.DisplayFor(modelItem => item.Parent.nom)   hethi mamchetch ken  id       -->

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idParent)
                                    <!--Html.DisplayFor(modelItem => item.Kids.FirstName)   hethi mamchetch ken  id     -->
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.From)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.To)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Time)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
</div></div></div></section>