@model IEnumerable<Solution.Web.Models.CarPoolModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCarpool.cshtml";
}
    <section id="authorization_page" class="authorization_page">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    @foreach (var item in Model)
                    {


                        <div class="shop_item" align="left">
                            <div class="shop_block_img">
                                <a href="shop_item.html"><img src="img/shop/item-4.jpg" alt=""></a>
                            </div>
                            <div class="item_describe" align="left">
                                <h5>
                                    <a href="shop_item.html">

                                        @foreach (var p in ViewBag.MyParent)
                                        {


                                            if (Convert.ToInt32(@p.Value) == @item.idParent)
                                            {
                                                @p.Text;

                                            }


                                        }


                                    </a>
                                </h5>
                                <div class="item_rate">
                                    <ul>
                                        <li class="t_red"><i class="fa fa-star"></i></li>
                                        <li class="t_red"><i class="fa fa-star"></i></li>
                                        <li class="t_red"><i class="fa fa-star"></i></li>
                                        <li class="t_red"><i class="fa fa-star"></i></li>
                                        <li class="t_stars"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="item_content" align="left">
                                    <p>
                                        Kids in This CarPool :
                                        @foreach (var m in ViewBag.MyKid)
                                        {


                                            if (Convert.ToInt32(@m.Value) == @item.idKid)
                                            {
                                                @m.Text;

                                            }


                                        }
                                    </p><br />
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </p><br />

                                    <p> @Html.DisplayFor(modelItem => item.From)</p><br />
                                    <p> @Html.DisplayFor(modelItem => item.To)</p><br />
                                    <p> @Html.DisplayFor(modelItem => item.Time)</p><br />
                                    <p> @Html.DisplayFor(modelItem => item.Date)</p><br />
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Message)
                                    </p><br />
                                </div>
                               
                                <a href="#" class="button b_green_green_light">Reserver</a>
                            </div>
                        </div>








                      

                       


                    }


                </div></div></div></section>