@model IPagedList<Solution.Web.Models.EventModel>

@{
    ViewBag.Title = "Index2";
}
@using PagedList.Mvc;
@using PagedList;

<body>

    <section id="events_header" class="events_header" data-parallax="scroll" data-bleed="200" data-z-index="-100" data-speed="0.1" data-image-src="~/Content/Uploads/event_page.jpg" data-over-scroll-fix="true">
        <div class="overlay_opacity"></div>
        <div class="events_wave"></div>
        <div class="container front_index">
            <div class="row">
                <div class="col-md-12 t_white">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Events</li>
                    </ol>
                </div>
            </div>
      
        </div>
    </section>
    <div class="text-center section">
        <ul class="filter">

            <div class="grids_brief">
                

                @using (Html.BeginForm())
                {
                    <table>
                        <tr>
                            <td>

                                <div id="search_open" class="gc_search_box" style="display: block;">
                                    @Html.TextBox("searchString")
                                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
        </ul>

        @foreach (var item in Model)
        {

            <div class="triple_grids">
                <div class="col-md-4 wow fadeInUp">
                    <div class="grids_block">
                        <div class="grids_block_top">
                            @{string path = "~/Content/Uploads/" + @item.image;}

                            <img src="@Url.Content(path)" width="50" height="50" />
                        </div>
                        <div class="grids_block_center">
                            <div class="date_events_left b_yellow_light">
                                <div class="date_middle">
                                    <p class="pb_10"><span>@Html.DisplayFor(modelItem => item.DateEvent.Day)</span></p>
                                    <p>@Convert.ToDateTime(item.DateEvent).ToString("MMM-yyyy")</p>
                                </div>
                            </div>
                            <div class="date_events_right b_green_green_light">
                                <p class="block_time pb_10"><i class="fa fa-clock-o"><span></span></i>8:00 am - 2:00 pm</p>
                                <p class="block_time normal"> <span> </span> <h1>Category :</h1> <h3> @Html.DisplayFor(modelItem => item.Category)</h3></p>
                            </div>
                        </div>
                        <div class="grids_brief">
                            <h4 class="grids_title t_green_green_light"><a href="event.html">@Html.DisplayFor(modelItem => item.Name)</a></h4>
                            <p class="grids_title t_red">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="grids_brief">
                            @if (item.Testpart == false)
                            {
                                @Html.ActionLink("Participate", "Participate", new { id = item.EventId })
                            }
                            @if (item.Testpart == true)
                            {
                                @Html.ActionLink("Annuler", "AnnulerPart", new { id = item.EventId })
                            }
                        </div>
                    </div>
                </div>
            </div>


        }





        <div class="blog_nav">
            <ul class="pagination">

                <li>
                    @Html.PagedListPager(Model, i => Url.Action("Index2", "Event", new { i, searchString = Request.QueryString["searchString"] }))
                </li>

            </ul>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
</body>
