@model Solution.Web.Models.ReputationModel

@{
    ViewBag.Title = "Create";
}

    <body>
        <section id="authorization_page" class="authorization_page">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 dot">
                        <h2 class="section-title">Create reputation</h2>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="sidebar">
                            <div class="categories b_green">
                                <h4 class="title">My profile</h4>
                                <ul>
                                    <li><a href="@Url.Action("indexfront","Claim")">My claims</a></li>
                                    <li><a href="@Url.Action("indexfront","Reputation")"> My reputations</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5">
                        @using (Html.BeginForm("Create", "Reputation", htmlAttributes: new { id = "createform" }, method: FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="reg_box">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Reputation name" })
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "3", cols = "2", @placeholder = "Description" })


                            </div>

                            <button class="button" type="submit" value="Create">Create</button>
                        }
                        <script>
                            var form = document.getElementById('createform');

                            function myFunction() {
                                if (form.checkValidity()) {
                                    alert("Your reputation was successufully created");
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>

        </section>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />


    </body>